body {
    font-size: 16px;
    color: #fff;
    background: #4C8099;
    font-family: 'Arimo', sans-serif;
    direction: rtl;
    margin: 0;
}

#header-nav {
    background-color: #A3BFCC;
    border: 0;
    border-radius: 0;
}

#logo-img {
    background: url('../images/horse_circle.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

@media (min-width: 768px) {
    .navbar-header {
        float: right !important;
    }
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: #FFB0A5;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #FFB0A5;
    text-shadow: 1px 1px 1px #222;
    font-size: 1.5em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: #4C8099;
    font-size: 1em;
    border: 0;
    border-radius: 15px;
}

#nav-list a:hover {
    background: #e7e7e7;
}


/*#phone {
    margin-top: 2px;
}*/

#phone a span {
    font-size: 1.2em;
}

.navbar-header button.navbar-toggle {
    margin-left: 10px;
    clear: both;
    margin-top: -30px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #4C8099;
}

.tiles-bar {
    margin-top: 20px;
}
/*
#activities-tile,
#info-tile,
#map-tile */
.homepage-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #2b4754;
    overflow: hidden;
}

.homepage-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#activities-tile {
    background: url('../images/alice.jpg') no-repeat;
    background-position: right;
}

#info-tile {
    background: url('../images/info_tile.jpg') no-repeat;
    background-position: right;
}

.homepage-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background-color: #000;
    color: #A3BFCC;
    opacity: .7;
}

.big-map{
    width: 100%;
    height: 450px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}


/********** Large devices only **********/

@media (min-width: 1200px) {
    .container .jumbotron {
        height: 540px;
    }
    .tiles-helper {
        width: 960px;
        height: 260px;
        margin-right: auto;
        margin-left: auto;
    }
    #activities-tile-helper {
        padding-left: 0;
    }
    #map-tile-helper {
        padding-right: 0;
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background: url('../images/horse_circle_md.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    #nav-list a {
        font-size: .9em;
    }
    #phone a span {
        font-size: 1em;
    }
    .navbar-brand h1 {
        font-size: 1.5em;
    }
    .navbar-brand p {
        font-size: 1em;
    }
    .container .jumbotron {
        height: 540px;
    }
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    #nav-list a {
        font-size: .9em;
    }
    #phone a span {
        font-size: 1em;
    }
    .navbar-brand h1 {
        font-size: 1.5em;
    }
    .navbar-brand p {
        font-size: 1em;
    }
    #header-nav {
        padding-bottom: 10px;
    }
    .container .jumbotron {
        height: 540px;
    }

    .navbar {
        min-height: 100px;
    }

    .nav > li > a {
        padding: 5px 5px;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    #nav-list a {
        font-size: .9em;
    }
    #phone a span {
        font-size: 1em;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 7vw;
    }
    .navbar-brand p {
        font-size: 1em;
        margin-top: 12px;
    }
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    #collapsable-nav a {
        font-size: 1em;
    }
    #collapsable-nav a span {
        font-size: 1em;
        margin-left: 10px;
    }
    #call-btn>a {
        font-size: 1.5em;
        display: block;
        margin: 0 10px;
        padding: 5px;
        border: 2px solid #4C8099;
        background-color: #A3BFCC;
        color: #4C8099;
        border-radius: 20px;
    }
    #xs-order {
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    .container .jumbotron {
        margin-top: 20px;
        padding: 0;
    }
    .container-gallery, .big-map-row {
        margin-top: 20px;
    }
    .big-map{
        height: 250px;
    }
}


/* slideshow */

.j1 {
    background: url('../images/111.jpg') no-repeat;
}

.j2 {
    background: url('../images/222.jpg') no-repeat;
}

.j3 {
    background: url('../images/333.jpg') no-repeat;
}

.j4 {
    background: url('../images/444.jpg') no-repeat;
}

.j5 {
    background: url('../images/555.jpg') no-repeat;
}

.j6 {
    background: url('../images/666.jpg') no-repeat;
}

.j7 {
    background: url('../images/777.jpg') no-repeat;
}

.slideshow {
    max-width: 960px;
    height: 540px;
    overflow: hidden;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

ul.slideshow {
    list-style: none;
    max-width: 960px;
    height: 540px;
    overflow: hidden;
    position: relative;
    margin: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

ul.slideshow li {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}

ul.slideshow li.show {
    z-index: 500;
}

ul img {
    border: none;
}

#slideshow-caption {
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
}

#slideshow-caption .slideshow-caption-container {
    padding: 10px 25px 10px 25px;
    background: transparent url(../images/transparent.png) repeat;
    z-index: 1000;
}

#slideshow-caption p {
    padding: 0;
    font: normal 130% arial, sans-serif;
    color: #FFF;
}

.img_for_caption {
    visibility: hidden;
}


/*.slideshow-image {
    width: 960px;
    height: 540px;
}*/